<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wuzzuf Analytics</title>
    <link rel="stylesheet" th:href="@{css/style.css?v3}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body>
    <h1 class="text-center">Wuzzuf Jobs Analysis in Egypt</h1>
    <div class="container">
        <button onclick="location.href='http://localhost:8080/showData'"><span>Show Data</span></button>
        <button onclick="location.href='http://localhost:8080/summary'"><span>Show Structure and Summary</span></button>
        <button onclick="location.href='http://localhost:8080/jobCount'"><span>No of jobs per company</span></button>

    </div>
    <div class="container">
        <button onclick="location.href='http://localhost:8080/popularTitles'">
            <span>Show popular Job Title</span></button>

        <button onclick="location.href='http://localhost:8080/popularAreas'">
        <span >Show popular Areas</span></button>

        <button onclick="location.href='http://localhost:8080/popularSkills'">
            <span>Show popular Skills</span></button>
    </div>

    <div class="page-section bg-light">
        <div class="container">
            <div class="text-center wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <h2 class="title-section">Our services</h2>
            </div>

            <div class="row">
                <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                    <div class="features">
                        <div class="header mb-3">
<!--                            <img src="https://img.icons8.com/external-flatart-icons-flat-flatarticons/64/000000/external-report-project-planing-flatart-icons-flat-flatarticons-1.png"/>-->
                        </div>
                        <h5>Show Data</h5>
                        <p>Load dataset and remove duplicates and NULL Values</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                    <div class="features">
                        <div class="header mb-3">
                            <span class="mai-business"></span>
                        </div>
                        <h5>Show Structure and Summary</h5>
                        <p>Display structure and summary of the data</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                    <div class="features">
                        <div class="header mb-3">
                            <span class="mai-business"></span>
                        </div>
                        <h5>Show most demanding companies for jobs</h5>
                        <p>Count the jobs for each company and display that in order </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                    <div class="features">
                        <div class="header mb-3">
                            <span class="mai-business"></span>
                        </div>
                        <h5>Show popular job titles</h5>
                        <p>Find out what are the most popular job titles.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                    <div class="features">
                        <div class="header mb-3" onclick="location.href='http://localhost:8080/popularAreas'">
                            <span class="mai-business"></span>
                        </div>
                        <h5>Show popular Area</h5>
                        <p>Find out the most popular areas</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                    <div class="features">
                        <div class="header mb-3" onclick="location.href='http://localhost:8080/popularSkills'">
                            <span class="mai-business"></span>
                        </div>
                        <h5>Show popular Skills</h5>
                        <p> Find out the most important skills required</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                    <div class="features">
                        <div class="header mb-3">
                            <span class="mai-business"></span>
                        </div>
                        <h5>OnSite SEO</h5>
                        <p>We analyse your website's structure, internal architecture &amp; other key</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                    <div class="features">
                        <div class="header mb-3">
                            <span class="mai-business"></span>
                        </div>
                        <h5>OnSite SEO</h5>
                        <p>We analyse your website's structure, internal architecture &amp; other key</p>
                    </div>
                </div>
            </div>

        </div> <!-- .container -->
    </div>

</body>
</html>